<div class="col-md-8" style="padding: 15px; margin-top: 55px;">
  <h6>HTTP Service URL: <span class="text-info">{{serviceUrl}}</span></h6>
  <h6 class="mt-3">HTTP Method: <span class="text-info">GET</span></h6>
  
  <h6 class="mt-3">Request Body: </h6>
  <pre class="jsonFormat bg-dark text-white">{{requestBody}}</pre>
  
  <hr class="bg-dark"/>
  
  <h6 class="mt-3">HTTP status code: <span class="text-success">200 OK</span></h6>
  <h6 class="mt-3">Response Body:</h6>
  <pre class="jsonFormat bg-info text-white">{{responseBody}}</pre>
  </div>