<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">Social Post</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">TABLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/get-posts" routerLinkActive="active">GET</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/get-post" routerLinkActive="active">GET:/id</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/add-post" routerLinkActive="active">POST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/edit-post" routerLinkActive="active">PUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/delete-post" routerLinkActive="active">DELETE</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="col-md-12" style="margin-left: 10px; margin-top: 70px;">
  <button class="btn btn-primary mr-1" routerLink="/get-posts" routerLinkActive="active">Get all</button>
  <button class="btn btn-info mr-1" routerLink="/get-post" routerLinkActive="active">Get by Id</button>
  <button class="btn btn-success mr-1" routerLink="/add-post" routerLinkActive="active">Add</button>
  <button class="btn btn-warning mr-1" routerLink="/edit-post" routerLinkActive="active">Edit</button>
  <button class="btn btn-danger" routerLink="/delete-post" routerLinkActive="active">Delete</button>
</div> -->

<router-outlet></router-outlet>